
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
nav{
   
    width: 100%;
}
.active{
    color: #581845;
    background-color: aliceblue;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#581845;
  }
  
 nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.lists .container{
    width: 100%;
    padding: 20px;
}

  .one, .two, .three, .four, .five{
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    height: auto;
  }
  .name, link{
    width: 50%;
    height: auto;
  }
  
  li a:hover {
    background-color: white;
    color: black;
  }
  .tables{
    width: 100%;
    height: 500px;
    transition: 1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  table th{
    height: 40px;
    background-color: #581845;
    color: white;
  }
  table{
    border: 2px solid #581845;
  }
  table td{
    padding: 4px;
    font-size: 15px;

  }
  table, th, td {
    border: 1px solid white;
    text-align: center;
    border-collapse: collapse;
  }
  .forms{
    width: 100%;
    height: 500px;
    padding: 20px 0px;
    transition: 1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #381b15;
  }
  form{
    width: 50%;
    height: 300px;
  }
  form label{
    text-align: center;
  }
  form h3{
    text-align: center;
    color: white;
  }
  form #submit{
    margin-left: 12%;
    background-color: #581845;
    transition: .6s linear;
    color: white;
    cursor: pointer;
  }
  form #submit:hover{
    background-color: white ;
    border: 1px solid #581845 ;
    color: #581845;
  }
  form input{
      width: 80%;
      border: 1px solid #581845;
      text-align: center;
      margin-top: 20px;
      border-radius: 5px;
      margin-left: 10%;
      outline: none;
      padding: 6px 10px;
  }
  .lists{
    width: 100%;
    height: 500px;
    transition: 1s linear;
    display: flex;
    align-items: center;
    
  }
  .link{
    background-color: #381b15;
    padding: 2px 20px;
  }
  .link a{
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .link:hover{
    background-color: #581845;
  }
  .lists h5{
    text-transform: capitalize;
  }
  .profile{
    width: 100%;
    height: 700px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .person{
    width: 40%;
    height:auto;
    background-color: #581845;
  }
  .row{
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    justify-content: space-around;
  }
  .fa-backward{
    color: white;
    font-size: 20px;
    padding: 0px 10px;
  }
  
  li a:hover .fa-backward{
    background-color: white;
    color: black;
  }
  .image{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image .in{
    width: 200px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
  }
  .fa-user{
    color: grey;
    font-size: 80px;
  }
  .top{
    width: 50px;
    position: absolute;
    bottom: -430px;
    border-radius: 50%;
    background-color: #581845;
    right: 30px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-arrow-up{
    font-size: 20px;
    color: white;
  }